html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

body::before {
  content:""; /* required for ::before */
  position: var(--position); /* don't scroll with page */
  z-index:-100; /* place behind elements on page */
  width:100%;
  height:100%;
  background-color:#FFF;
  background-image: 
  radial-gradient(circle farthest-side at top right, transparent, #ffe5ec), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #caf0f8);
  animation:bg-change 10s infinite;
}

@keyframes bg-change {
0%, 100% {
  filter:hue-rotate(0deg);
}
50% {
  filter:hue-rotate(-45deg);
}
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight, 
.container div.bfeight, {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.bfonecat {
  position: absolute;
}

.part2 {
  visibility: hidden;
  position: relative;
}

.part2 div {
  position: absolute;
}

.part3 {
  visibility: hidden;
  position: relative;
}

/* .part3 div {
  position: absolute;
} */

.part9 {
  visibility: hidden;
}

.part3 p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.part3 div p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.part4 {
  visibility: hidden;
  position: relative;
}

.part4 div {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}

.part4 div p {
  font-size: 2rem;
  position: relative;
  left: 0;
  right: 0;
}

.three4 {
  width: 100%;
  margin: auto;
  text-align: center;
}

button{
  color: #fff;
  background: #000; 
  border: none;
}

.three4 button {
  position: relative;
  top: 150px;
  font-size: 1.6rem;
}

.one {
  font-size: 4.5rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 2rem;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.six {
  position: relative;
}

.six img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 61.5%;
  /* transform: scale(0.1); */
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #bd6ecf;
}

.eight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #7dd175;
}

.eight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #349d8b;
}

.eight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #347a9d;
}

.eight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #c66053;
}

.eight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #bfaa40;
}

.eight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #e3bae8;
}

.eight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #8762cb;
}

.eight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #9a90da;
}

.bfeight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.bfeight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #bd6ecf;
}

.bfeight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #7dd175;
}

.bfeight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #349d8b;
}

.bfeight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #347a9d;
}

.bfeight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #c66053;
}

.bfeight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #bfaa40;
}

.bfeight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #e3bae8;
}

.bfeight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #8762cb;
}

.bfeight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #9a90da;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 45%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}













.bulb {
	width: 50px;
	height: 50px;
	margin: auto;
	background-repeat: no-repeat no-repeat;
	background-position:center 0px;
	background-size: 50px 50px;
}

.bulb-holder {
	height: 70px;
}

.bulb-glow-yellow {
	background-image: url('/img/bulb_yellow.png');
	-webkit-animation: bulb_glow_yellow linear 5s;
	-moz-animation: bulb_glow_yellow linear 5s;
	-o-animation: bulb_glow_yellow linear 5s;
	-ms-animation: bulb_glow_yellow linear 5s;
	animation: bulb_glow_yellow linear 5s;
}

@-webkit-keyframes bulb_glow_yellow {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_yellow.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_yellow {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_yellow.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_yellow {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_yellow.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_yellow {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_yellow.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_yellow {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_yellow.png');
		opacity: 1;
	}
}

.bulb-glow-red {
	background-image: url('/img/bulb_red.png');
	-webkit-animation: bulb_glow_red linear 5s;
	-moz-animation: bulb_glow_red linear 5s;
	-o-animation: bulb_glow_red linear 5s;
	-ms-animation: bulb_glow_red linear 5s;
	animation: bulb_glow_red linear 5s;
}

@-webkit-keyframes bulb_glow_red {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_red.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_red {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_red.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_red {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_red.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_red {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_red.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_red {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_red.png');
		opacity: 1;
	}
}
.bulb-glow-blue {
	background-image: url('/img/bulb_blue.png');
	-webkit-animation: bulb_glow_blue linear 5s;
	-moz-animation: bulb_glow_blue linear 5s;
	-o-animation: bulb_glow_blue linear 5s;
	-ms-animation: bulb_glow_blue linear 5s;
	animation: bulb_glow_blue linear 5s;
}

@-webkit-keyframes bulb_glow_blue {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_blue.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_blue {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_blue.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_blue {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_blue.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_blue {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_blue.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_blue {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_blue.png');
		opacity: 1;
	}
}

.bulb-glow-green {
	background-image: url('/img/bulb_green.png');
	-webkit-animation: bulb_glow_green linear 5s;
	-moz-animation: bulb_glow_green linear 5s;
	-o-animation: bulb_glow_green linear 5s;
	-ms-animation: bulb_glow_green linear 5s;
	animation: bulb_glow_green linear 5s;
}

@-webkit-keyframes bulb_glow_green {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_green.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_green {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_green.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_green {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_green.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_green {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_green.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_green {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_green.png');
		opacity: 1;
	}
}

.bulb-glow-pink {
	background-image: url('/img/bulb_pink.png');
	-webkit-animation: bulb_glow_pink linear 5s;
	-moz-animation: bulb_glow_pink linear 5s;
	-o-animation: bulb_glow_pink linear 5s;
	-ms-animation: bulb_glow_pink linear 5s;
	animation: bulb_glow_pink linear 5s;
}

@-webkit-keyframes bulb_glow_pink {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_pink.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_pink {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_pink.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_pink {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_pink.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_pink {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_pink.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_pink {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_pink.png');
		opacity: 1;
	}
}

.bulb-glow-orange {
	background-image: url('/img/bulb_orange.png');
	-webkit-animation: bulb_glow_orange linear 5s;
	-moz-animation: bulb_glow_orange linear 5s;
	-o-animation: bulb_glow_orange linear 5s;
	-ms-animation: bulb_glow_orange linear 5s;
	animation: bulb_glow_orange linear 5s;
}

@-webkit-keyframes bulb_glow_orange {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_orange.png');
		opacity: 1;
	}
}
@-moz-keyframes bulb_glow_orange {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_orange.png');
		opacity: 1;
	}
}
@-o-keyframes bulb_glow_orange {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_orange.png');
		opacity: 1;
	}
}
@-ms-keyframes bulb_glow_orange {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_orange.png');
		opacity: 1;
	}
}
@keyframes bulb_glow_orange {
	0%{
		background-image: url('/img/bulb.png');
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background-image: url('/img/bulb_orange.png');
		opacity: 1;
	}
}


/*after music*/
.bulb-glow-yellow-after {
	background-image: url('/img/bulb_yellow.png');
	-webkit-animation: bulb_glow_yellow_after linear 1s infinite;
	-moz-animation: bulb_glow_yellow_after linear 1s infinite;
	-o-animation: bulb_glow_yellow_after linear 1s infinite;
	-ms-animation: bulb_glow_yellow_after linear 1s infinite;
	animation: bulb_glow_yellow_after linear 1s infinite;
}

@-webkit-keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_yellow.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-moz-keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_yellow.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_yellow.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_yellow.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_yellow_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_yellow.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}

.bulb-glow-red-after {
	background-image: url('/img/bulb_red.png');
	-webkit-animation: bulb_glow_red_after linear 1.2s infinite;
	-moz-animation: bulb_glow_red_after linear 1.2s infinite;
	-o-animation: bulb_glow_red_after linear 1.2s infinite;
	-ms-animation: bulb_glow_red_after linear 1.2s infinite;
	animation: bulb_glow_red_after linear 1.2s infinite;
}

@-webkit-keyframes bulb_glow_red_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_red.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-moz-keyframes bulb_glow_red_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_red.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_red_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_red.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_red_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_red.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_red_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_red.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}

.bulb-glow-blue-after {
	background-image: url('/img/bulb_blue.png');
	-webkit-animation: bulb_glow_blue_after linear 1.4s infinite;
	-moz-animation: bulb_glow_blue_after linear 1.4s infinite;
	-o-animation: bulb_glow_blue_after linear 1.4s infinite;
	-ms-animation: bulb_glow_blue_after linear 1.4s infinite;
	animation: bulb_glow_blue_after linear 1.4s infinite;
}

@-webkit-keyframes bulb_glow_blue_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_blue.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-moz-keyframes bulb_glow_blue_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_blue.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_blue_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_blue.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_blue_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_blue.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_blue_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_blue.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
.bulb-glow-green-after {
	background-image: url('/img/bulb_green.png');
	-webkit-animation: bulb_glow_green_after linear 1.8s infinite;
	-moz-animation: bulb_glow_green_after linear 1.8s infinite;
	-o-animation: bulb_glow_green_after linear 1.8s infinite;
	-ms-animation: bulb_glow_green_after linear 1.8s infinite;
	animation: bulb_glow_green_after linear 1.8s infinite;
}

@-webkit-keyframes bulb_glow_green_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_green.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}

@-moz-keyframes bulb_glow_green_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_green.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_green_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_green.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_green_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_green.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_green_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_green.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
.bulb-glow-pink-after {
	background-image: url('/img/bulb_pink.png');
	-webkit-animation: bulb_glow_pink_after linear 2s infinite;
	-moz-animation: bulb_glow_pink_after linear 2s infinite;
	-o-animation: bulb_glow_pink_after linear 2s infinite;
	-ms-animation: bulb_glow_pink_after linear 2s infinite;
	animation: bulb_glow_pink_after linear 2s infinite;
}

@-webkit-keyframes bulb_glow_pink_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_pink.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-moz-keyframes bulb_glow_pink_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_pink.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_pink_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_pink.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_pink_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_pink.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_pink_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_pink.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
.bulb-glow-orange-after {
	background-image: url('/img/bulb_orange.png');
	-webkit-animation: bulb_glow_orange_after linear 2.2s infinite;
	-moz-animation: bulb_glow_orange_after linear 2.2s infinite;
	-o-animation: bulb_glow_orange_after linear 2.2s infinite;
	-ms-animation: bulb_glow_orange_after linear 2.2s infinite;
	animation: bulb_glow_orange_after linear 2.2s infinite;
}

@-webkit-keyframes bulb_glow_orange_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_orange.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-moz-keyframes bulb_glow_orange_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_orange.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-o-keyframes bulb_glow_orange_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_orange.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@-ms-keyframes bulb_glow_orange_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_orange.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}
@keyframes bulb_glow_orange_after {
	0%{
		background-image: url('/img/bulb.png');
	}
	50%{
		background-image: url('/img/bulb_orange.png');
	}
	100%{
		background-image: url('/img/bulb.png');
	}
}


.row{margin-right:-15px;margin-left:-15px}

.col-md-2{width:16.66666667%}

.col-xs-2{width:16.66666667%}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;display: inline-block;}

.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{display:table;content:" "}.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both}.center-block{display:block;margin-right:auto;margin-left:auto}.pull-right{float:right!important}.pull-left{float:left!important}